*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    display: grid;
    gap: 15px;
    background-color: antiquewhite;
    
}
section{
    margin: 30px 0 ;
}
.articulo{
    background-color: rgb(76, 62, 88);
    width: 290px;
    height: 350px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.articulo > img, .fotos > img {
    width: 250px;
    height: 200px;
}

.articulo > *{
    margin: 5px;
}
#caja-contener, .fotos{
    display: grid;
    grid-template-columns: 1fr; /* 1 columna en móviles */
    gap: 20px; /* Espacio entre artículos */
    margin: auto;
}
#caja-cotener > a{
   margin: 10px;
}
#galeria{
    background-color: rgb(130, 130, 165);
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
#articulos{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    margin: 20px;
    color: rgb(28, 27, 27);
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #4c3e58;
}
#dudas {
    margin: auto;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
form{
    display: flex;
    flex-direction:column;
    justify-content: center;
}
input, textarea {
    width: 90%;
}
button{
    margin: 10px;
    width: 70%;
}
header{
    display: grid;
    grid-template-columns: 1fr;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    width: 100%;
}
li{
    list-style: none;
    margin: 10px;
    border: solid 2px red;
    padding: 5px;
}
a{
    color: black;
}
h1{
    text-align: center;
}




@media (min-width: 600px) {
    #caja-contener, .fotos, header{
      grid-template-columns: repeat(2, 1fr);; /* 2 columnas en pantallas grandes */
    }
  }
  @media (min-width: 1000px) {
    .fotos{
      grid-template-columns: repeat(3, 1fr);; /* 2 columnas en pantallas grandes */
    }
  }
